{
  "env": {
    "browser": true,
    "es5": true,
    "node": true
  },
  "extends": ["airbnb", "eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "react/jsx-filename-extension": [
      2,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "prettier/prettier": ["error", { "endOfLine": "auto" }]
  }
}
